.bash_history
.bash_logout
.bashrc
.bashrc-anaconda3.bak
.cache/
.conda/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.profile
.python_history
.ssh/
.wget-hsts
Anaconda3-5.2.0-Linux-x86_64.sh
Untitled.ipynb
__pycache__/
anaconda3/
get-pip.py
myapp/
naver_crawling.py
reviewHBLOGHASD.txt
wordsBULDAK2014ASD.txt
test_docs.json
train_docs.json
